<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}">管理后台</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" type="text/css"/>
</head>
<body>

<nav th:fragment="menu(n)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui yellow header item">酒店管理系统</h2>
            <a href="#" th:href="@{/hotel}" class="m-item item m-mobile-hide" th:classappend="${n==0}? 'active'">首页
            </a>
            <a href="#" th:href="@{/hotel/room}" class="m-item item m-mobile-hide" th:classappend="${n==1}? 'active'">房间预订
            </a>
            <a href="#"  class="m-item item m-mobile-hide" th:classappend="${n==2}? 'active'">我的订单
            </a>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown  item">
                    <div class="text">
                        <img class="ui avatar image" src="https://cdn.v2ex.com/gravatar/10002566d7a63c11e2d42e86d2b95c85">
                        <span th:text="${session.user.name}">管理员</span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" th:href="@{/user/logout}" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--footer-->
<footer th:fragment="footer" class="ui inverted vertical segment m-padding">
    <div class="ui center aligned container">
        <p class="m-text-thin m-text-spaced m-opacity-tiny">
            Copyright © 2020 酒店管理系统
        </p>
        <p class="">基于Springboot开发 <i class="heart red icon"></i> Mahuan</p>
    </div>
</footer>

<th:block th:fragment="script">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

    <script>
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });

        $('.ui.dropdown').dropdown({
            on : 'hover'
        });

    </script>
</th:block>
</body>
</html>