<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>酒店首页</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<!--导航-->
<nav th:replace="_fragments::menu(0)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui yellow header item">酒店管理系统</h2>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown  item">
                    <div class="text">
                        <img class="ui avatar image" src="https://unsplash.it/100/100?image=1005">
                        管理员
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>


<div class="m-container-small m-padded-tb-massive">
    <div class="ui positive message">
        <i class="close icon"></i>
        <div class="header">
            欢迎登录，张先生！
        </div>
    </div>

    <div class="ui segment items">
        <div class="item">
            <div class="image">
                <img src="//img.alicdn.com/bao/uploaded/i8/TB1O0FhbJPJ3eJjSZFLEvKb3FXa_014455.jpg_450x10000.jpg">
            </div>
            <div class="content">
                <a class="header" href="#" th:href="@{/hotel/room}">大理大学国际大酒店</a>
                <div class="description">
                    <p>大理大学位于滇西中心城市——大理。校园占地面积2300多亩，有古城和下关两个校区。学校芳草凝绿、鸟语花香，被誉为“山水中的大学、大学中的山水”。</p>
                </div>
                <div class="extra">
                    <div class="ui star rating" data-rating="5" data-max-rating="5"></div>
                </div>
                <div class="ui right floated column">
                    <a href="#" th:href="@{/hotel/room}" class="ui blue button">查看详情</a>
                </div>

            </div>
<!--            <div class="ui center aligned">-->
<!--                <a href="#" th:href="@{/hotel/room}" class="ui teal button">预定</a>-->
<!--            </div>-->
        </div>
    </div>

    <img class="ui fluid image" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1591099816534&di=f8fabae939863d787a05b09be138d2b1&imgtype=0&src=http%3A%2F%2Fn.sinaimg.cn%2Ftranslate%2F418%2Fw800h418%2F20180528%2FzZyF-hcaquev5117308.jpg">

</div>


<!--底部footer-->
<footer th:replace="_fragments::footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2020 酒店管理系统</p>
    </div>

</footer>

<!--  <th:block th:replace="_fragments::script">-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });
</script>
<!--  </th:block>-->
<script>
    $('.ui.rating')
        .rating('disable', {
            initialRating: 5,
            maxRating: 5
        })
    ;

    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade')
            ;
        })
    ;

</script>
</body>
</html>