<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="../static/css/login.css" th:href="@{/css/login.css}">
</head>

<body>
<div class="login_box">
    <div class="login_l_img"><img src="../../static/images/login-img.png" th:src="@{/images/login-img.png}"/></div>
    <div class="login">
        <div class="login_logo"><a href="#"><img src="../../static/images/login_logo.png" th:src="@{/images/login_logo.png}" /></a>
        </div>
        <div class="login_name">
            <p>酒店管理系统</p>
        </div>
        <form method="post" action="#" th:action="@{/user/login}">
            <input name="username" type="text" value="用户名" onfocus="this.value=''"
                   onblur="if(this.value==''){this.value='用户名'}">
            <span id="password_text"
                  onclick="this.style.display='none';document.getElementById('password').style.display='block';document.getElementById('password').focus().select();">密码</span>
            <input name="password" type="password" id="password" style="display:none;"
                   onblur="if(this.value==''){document.getElementById('password_text').style.display='block';this.style.display='none'};"/>
            <input value="登录" style="width:100%;" type="submit">
        </form>
        <div class="login_message" th:unless="${#strings.isEmpty(message)}" th:text="${message}">* 用户名或密码错误</div>
    </div>
    <div class="copyright">Copyright © 2020 酒店管理系统</div>
</div>
</body>
</html>
