<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments::head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>酒店预订</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>

<nav th:replace="_fragments::menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui yellow header item">酒店管理系统</h2>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown  item">
                    <div class="text">
                        <img class="ui avatar image" src="https://cdn.v2ex.com/gravatar/10002566d7a63c11e2d42e86d2b95c85">
                        管理员
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <div class="ui segment items">
            <div class="item">
                <div class="image">
                    <img src="//img.alicdn.com/bao/uploaded/i8/TB1O0FhbJPJ3eJjSZFLEvKb3FXa_014455.jpg_450x10000.jpg">
                </div>
                <div class="content">
                    <a class="header">大理大学国际大酒店</a>
                    <div class="meta">
                        <span>地址：大理市古城虹盛路2号</span>
                    </div>
                    <div class="description">
                        <p>大理大学位于滇西中心城市——大理。校园占地面积2300多亩，有古城和下关两个校区。学校芳草凝绿、鸟语花香，被誉为“山水中的大学、大学中的山水”。</p>
                    </div>
                    <div class="extra">
                        <div class="ui star rating" data-rating="5" data-max-rating="5"></div>
                    </div>
                </div>
            </div>

        </div>

        <form action="#" th:action="@{/hotel/room/search}" method="post" class="ui segment form">
            <div class="inline fields">
                <div class="field">
                    <input type="text" name="name" placeholder="名称" autocomplete="off" th:value="${param?.name}">
                </div>
                <div class="field">
                    <div class="ui selection dropdown">
                        <input type="hidden" name="typeId">
                        <i class="dropdown icon"></i>
                        <div class="default text">房型</div>
                        <div class="menu">
                            <div th:each="type : ${types}" th:data-value="${type.id}" th:text="${type.name}"
                                 class="item" data-value="1">大床房
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="breakfast" name="breakfast"/>
                        <label for="breakfast">含早</label>
                    </div>
                </div>
                <div class="field">
                    <button class="ui mini teal basic button"><i class="search icon"></i>搜索房间</button>
                </div>
            </div>
        </form>

        <div class="ui top attached teal segment relaxed divided list">
            <div class="item m-list" th:each="room : ${rooms}">
                <div class="ui grid">
                    <div class="eleven wide column">
                        <div class="ui horizontal link list">
                            <div class="item">
                                <i class="large bed orange middle aligned icon"></i>
                            </div>
                            <div class="item">
                                <h3 class="ui blue header" th:text="${room.name}">标准大床房</h3>
                            </div>
                            <div class="item">
                                <h3 class="ui red header price">¥ <span th:text="${room.price}">360</span></h3>
                            </div>
                        </div>
                        <div class="description">
                            <p> 房型：<span th:text="${room.type.name}">大床房</span>
                                &nbsp;&nbsp;面积：<span th:text="${room.area}">48</span>㎡
                                &nbsp;&nbsp;楼层：<span th:text="${room.floor}">6-7 </span>
                                &nbsp;&nbsp;<span th:text="${room.breakfast}?'含双早':'不含早'">是</span>
                            </p>
                        </div>
                    </div>
                    <div class="right aligned five wide column">
                        <a href="#" th:href="@{/hotel/booking/{id}(id=${room.id})}"
                           class="ui primary green button right">
                            预订
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<footer th:replace="_fragments::footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2020 酒店管理系统</p>
    </div>

</footer>

<th:block th:replace="_fragments::script">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });
</script>
</th:block>
<script>
    $('.ui.rating')
        .rating('disable', {
            initialRating: 5,
            maxRating: 5
        });
</script>
</body>
</html>